.title-text-center {
  grid-area: title-text-center;
  text-align: center;
  padding: 15px;
}

.title-text-center .advantages-heading {
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 15px 0;
  color: rgba(155, 154, 113, 0.562);
}

.title-text-center .advantages-descriction {
  font-size: 18px;
}
