$inputFontFamily: 'Montserrat', sans-serif ;
$mainColor:rgba(231, 230, 163, 0.562) ;
$borderType: 2px solid;

%buttonColors{
  background: $mainColor;
  color: rgb(95, 77, 77);
}
@mixin border($borderType, $borderTypeColor, $size2) {
  border: $borderType $borderTypeColor;
  border-radius: $size2
}

@mixin hoverActive {
  &:hover{
    @extend %buttonColors;
  }
  &:active{
    @extend %buttonColors;
  }
}
.sidebar{
    grid-area: sidebar;
    width: 40%;
    padding-left: 125px;
        input{
          margin-top: 15px;
          font-family: $inputFontFamily;
          @include border($borderType, $mainColor, 5000px);
          text-indent: 10px;
          height: 30px;
          outline: none;
        }
        textarea{
          margin-top: 25px;
          font-family: $inputFontFamily;
          @include border($borderType, $mainColor, 20px);
          text-indent: 15px;
          outline: none;
        }
        .form-send-area{
          margin-top: 25px;
            
            .form-send{
              text-align: center;
              color:#333;
              outline: none;
              text-decoration: none;
              user-select: none;
              @include border($borderType, $mainColor, 30px);
              width: 150px;
              height: 40px;
              background: #fff;
              text-indent: 5px;
              font-family: $inputFontFamily;
              font-weight: bold;
              @include hoverActive();
            }
          } 
        .slide{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 450px;
        height: 300px;
        border: 1px solid rgba(231, 230, 163, 0.562);
    
        position: relative;
        text-align: center;
        input{
          display: none;
          }
        input {
        display: inline-block;
        width: 10px;
        height: 10px;
        @include border($borderType, rgb(95, 77, 77), 8px);
        background-color: rgba(231, 230, 163, 0.562);
        cursor: pointer;
        z-index: 100;
        position: relative;
        margin-right: 4px;
        top: 90%;
        transition: background-color 0.8s ease-out 0s;
        &:hover {
          background-color: rgba(250, 250, 250, 0.8);
          }
        &:checked {
            background-color: rgba(220, 220, 220, 0.8);
          }
        }
      div{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
        
      }
        img{
          width:450px;
          height:300px;
        }
        input:checked + div {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
        }
  }
}